:root{
    --first-color : #FF6060; 
	--background-color: #F6F6F6
}

html, body {
    font-family: Montserrat;
	margin: 0;
}

.error-msg {
	color: var(--first-color);
	text-align: center;
}
.error-msg div {
	margin: 6% auto 10%;
}
.error-msg p {
	font-weight: 500;
}
.error-msg div p:last-child {
	font-size: x-large;
}
#page-not-found {
	font-size: 10em;
	margin: 2% auto;
	font-weight: 700;
}

footer {
	height: 10%;
	background-color: black;
	padding: 3%;
	color: white;
	text-align: center;
}
footer div {
	margin-top: 2%;
	font-weight: 500;
}

header {
	width: 80%;
	height: 10%;
	margin: 2% auto;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
header nav {
	width: 50%;
	text-align: right;
}
header nav a {
	color: var(--first-color);
	font-size: x-large;
	margin-left: 5%;
	font-family: Montserrat;
	font-weight: 500;
	text-decoration: none;
}

main {
	width: 80%;
	height: 74%;
	margin: auto;
	padding: 3% 0
}
main picture img {
	object-fit: contain;
	width: 100%;
	margin-bottom: 5%;
}

#rentalList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: var(--background-color);
	border-radius: 25px;
}
#rentalList a {
	width: 27%;
	margin: 3% 3% 2%;
	overflow: hidden;
	height: 340px;
	display: flex;
	flex-direction: column;
	text-decoration: none;
}
#rentalList a img {
	object-fit: cover;
	height: 100%;
}
#rentalList a p {
	margin: -156px 0 -5px;
	color: white;
	padding: 99px 20px 10px;
	height: 50px;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,020000+100&0+0,0.5+100 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(2,0,0,0.9) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(2,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(2,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80020000',GradientType=0 ); /* IE6-9 */
}

#root {
	display: flex;
	flex-direction: column;
	height: 100%;
}