:root{
  	--first-color : #FF6060; 
	--background-color: #F6F6F6
}

.dropdown-box p, .dropdown-box ul {
	width: 92%;
	background-color: var(--background-color);
	margin: -6px 0 0;
	z-index: -1;
	position: relative;
	border-radius: 7px;
	transition: all 250ms ease-in-out;
	overflow: hidden;
}
.dropdown-box.close p, .dropdown-box.close ul {
	transform: scaleY(0) translateY(-50px);
	transform-origin: top;
	padding: 0 4%;
	transition: all 250ms ease-in-out;
	opacity: 0;
}

.flex { display: flex}

html, body {
    font-family: Montserrat;
	margin: 0;
}

main {
	width: 90%;
	margin: 0% auto 5%;
  	min-height: 700px;
}
#root {
	flex-direction: column;
	height: 100%;
	position: relative
}


/**
 *  Header
 */
header nav a.current-page { text-decoration: underline; }


/**
 *  Fiche logement (accommodation sheet)
*/
#details { padding: 2% 0; }

#description, #equipements {
	font-size: small;
	line-height: 1.5em;
	padding: 6% 4%;
}

#logement-pictures img.activ {
	transform-origin: right;
	width: 100%;
}

.slider #next, #previous {
	z-index: 9;
	cursor: pointer;
	position: absolute;
}

#rating.star1 span:nth-of-type(1), #rating.star2 span:nth-of-type(1), #rating.star3 span:nth-of-type(1), #rating.star4 span:nth-of-type(1), #rating.star5 span:nth-of-type(1), 
#rating.star2 span:nth-of-type(2), #rating.star3 span:nth-of-type(2), #rating.star4 span:nth-of-type(2),  #rating.star5 span:nth-of-type(2),
#rating.star3 span:nth-of-type(3), #rating.star4 span:nth-of-type(3), #rating.star5 span:nth-of-type(3), 
#rating.star4 span:nth-of-type(4), #rating.star5 span:nth-of-type(4), 
#rating.star5 span:nth-of-type(5) 
{
	background-image: url("https://alxbdo.github.io/BidaudAlexandre_11_18102021/src/assets/activ_star.png");
}

#top-infos, #details { color: var(--first-color); }
#top-infos div:nth-of-type(2) { text-align: right; }
#top-infos h1 { font-weight: 500; }
#top-infos #host {
	justify-content: flex-end;
	align-items: center;
}
#top-infos #host img {
	border-radius: 100%;
	order: 2;
}
#top-infos #host p { margin-right: 5%; }
#top-infos p { font-weight: 500; }


/**
 *  Home
 */
main picture img {
	object-fit: contain;
	width: 100%;
	margin: 3% auto;
}


/**
 *  A Propos
 */
#a-propos div { margin: 0 auto 3%; }
#a-propos .open p { color: var(--first-color); }


/**
 * media queries
 */
 @media screen and (max-width: 899px){
	#a-propos .dropdown-box:nth-of-type(4) {
		margin-bottom: 20%;
	}
	#a-propos .dropdown-box a { 
		padding: 3%;
		font-size: small; 
	}
	#a-propos .open p {
		padding: 7% 5% 10%;
		width: 90%;
		font-size: 0.7em;
	}
	header img {
		width: 40%;
	}
	#location { 
		font-size: small;
		margin: 3% 0; 
	}
	.slider #next, .slider #previous {
		width: 13px;
		height: 20px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	#top-infos div:nth-of-type(2) {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
    	margin: 2% auto;
	}
	#top-infos h1 {
		margin: 5% 0 0;
		font-size: large;
	}
	#top-infos #host img { width: 20%; }
	#top-infos #host p { max-width: 85px; }
 }

@media screen and (min-width:900px) {
	#a-propos div { width: 80%; }
	#a-propos .dropdown-box a {
		padding: 1% 2%;
		font-size: x-large;
	}
	#a-propos .open p {
		padding: 3% 2%;
		width: 96%;
		font-size: large;
	}
	#details {
		display: flex;
		justify-content: space-between;
	}
	footer, header {
		height: 10%;
	}
	#location { margin: 1% 0 3%; }
	main { 
		height: 74%;
		max-width: 1250px; 
	}
	.slider #next, .slider #previous {
		width: 48px;
		height: 80px;
	}
	#top-infos, #details { display: flex; }
	#top-infos div:first-of-type { width: 80%; }
	#top-infos div:last-of-type { width: 20%; }
	#top-infos h1 {
		font-size: xx-large;
		margin: 2% 0 0;
	}
	#top-infos #host {
		width: 100%;
		margin: 10% 0 0px;
	}
	#top-infos #host img { width: 25%; }
	#top-infos #host p { max-width: 105px; }
}


/**
 * Keyframes
 */

 @keyframes loading {
	from{ transform: rotate(0deg)}
	to { transform: rotate(360deg)}
}