:root{
  --first-color : #FF6060; 
--background-color: #F6F6F6
}

.dropdown-box a {
	background-color: var(--first-color);
	display: block;
	color: white;
	text-decoration: none;
	border-radius: 7px;
	padding: 2% 4%;
}
.dropdown-box.close { 
	transition: margin 250ms ease-in-out; 
	height: 50px;
}
.dropdown-box.close a:after, .dropdown-box.open a:after{ float: right; }
.dropdown-box.close a:after {
	content: url("https://alxbdo.github.io/BidaudAlexandre_11_18102021/src/assets/dropdown_close.png");
}
.dropdown-box.open a:after {
	content: url("https://alxbdo.github.io/BidaudAlexandre_11_18102021/src/assets/dropdown_open.png");
}
.dropdown-box li {
	list-style: none;
}
.dropdown-box p, .dropdown-box ul {
	width: 92%;
	background-color: var(--background-color);
	margin: -6px 0 0;
	z-index: -1;
	position: relative;
	border-radius: 7px;
	transition: all 250ms ease-in-out;
	overflow: hidden;
}
.dropdown-box.close p, .dropdown-box.close ul {
	transform: scaleY(0) translateY(-50px);
	transform-origin: top;
	padding: 0 4%;
	transition: all 250ms ease-in-out;
	opacity: 0;
}

html, body {
    font-family: Montserrat;
	  margin: 0;
}

#loading-data {
	border: 10px solid lightgreen;
	height: 50px;
	width: 50px;
	border-radius: 100px;
	border-bottom-color: transparent;
	margin: 100px auto;
	animation: loading 700ms linear infinite;
}

main {
	width: 90%;
	margin: 0% auto 5%;
  min-height: 700px;
}
#root {
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative
}


/**
 *  404 page
*/
.error-msg {
	color: var(--first-color);
	text-align: center;
}
.error-msg p {
	font-weight: 500;
}
#page-not-found {
	margin: 2% auto;
	font-weight: 700;
}


/**
 *  Footer
 */
footer {
	background-color: black;
	padding: 3%;
	color: white;
	text-align: center;
}
footer div {
	margin-top: 2%;
	font-weight: 500;
}


/**
 *  Header
 */
header {
	width: 90%;
	display: flex;
	justify-content: space-between;
}
header nav {
	width: 50%;
	text-align: right;
}
header nav a {
	color: var(--first-color);
	margin-left: 5%;
	font-family: Montserrat;
	font-weight: 500;
	text-decoration: none;
}
header nav a.current-page { text-decoration: underline; }


/**
 *  Fiche logement (accommodation sheet)
*/
#details { padding: 2% 0; }

#description, #equipements {
	font-size: small;
	line-height: 1.5em;
	padding: 6% 4%;
}

#logement-pictures {
	overflow: hidden;
	max-height: 415px;
	display: flex;
	align-items: center;
	background-color: var(--background-color);
	position: relative;
}
#logement-pictures img {
	object-fit: cover;
	border-radius: 20px;
	width: 0;
	transition: width 250ms ease-in-out;
}
#logement-pictures img.activ {
	transform-origin: right;
	width: 100%;
}

.slider #next, #previous {
	z-index: 9;
	cursor: pointer;
	position: absolute;
}

#rating .star {
	background-image: url("https://alxbdo.github.io/BidaudAlexandre_11_18102021/src/assets/inactiv_star.png");
	display: inline-block;
	background-repeat: repeat;
	background-position: center;
	background-size: cover;
}
#rating.star1 .star:nth-of-type(1), #rating.star2 .star:nth-of-type(1), #rating.star3 .star:nth-of-type(1), #rating.star4 .star:nth-of-type(1), #rating.star5 .star:nth-of-type(1), 
#rating.star2 .star:nth-of-type(2), #rating.star3 .star:nth-of-type(2), #rating.star4 .star:nth-of-type(2),  #rating.star5 .star:nth-of-type(2),
#rating.star3 .star:nth-of-type(3), #rating.star4 .star:nth-of-type(3), #rating.star5 .star:nth-of-type(3), 
#rating.star4 .star:nth-of-type(4), #rating.star5 .star:nth-of-type(4), 
#rating.star5 .star:nth-of-type(5) 
{
	background-image: url("https://alxbdo.github.io/BidaudAlexandre_11_18102021/src/assets/activ_star.png");
}

#top-infos, #details { color: var(--first-color); }
#top-infos div:nth-of-type(2) {
	text-align: right;
}
#top-infos h1 { font-weight: 500; }
#top-infos #host {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#top-infos #host img {
	border-radius: 100%;
	order: 2;
}
#top-infos #host p {
	margin-right: 5%;
}
#top-infos li {
	background-color: var(--first-color);
	display: inline-block;
	color: white;
}
#top-infos p { font-weight: 500; }
#top-infos ul {
	padding: 0;
	margin: 0;
}


/**
 *  Home
 */
main picture img {
	object-fit: contain;
	width: 100%;
	margin: 3% auto;
}

#rentalList a {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	border-radius: 10px;
}
#rentalList a img {
	object-fit: cover;
	height: 100%;
}
#rentalList a p {
	margin: -156px 0 -5px;
	color: white;
	padding: 99px 20px 10px;
	height: 50px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(2,0,0,0.9) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(2,0,0,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(2,0,0,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#80020000',GradientType=0 ); /* IE6-9 */
}


/**
 *  A Propos
 */
#a-propos div { margin: 0 auto 3%; }
#a-propos .open p { color: var(--first-color); }


/**
 * media queries
 */
 @media screen and (max-width: 899px){
  #a-propos .dropdown-box:nth-of-type(4) {
    margin-bottom: 20%;
  }
	#a-propos .dropdown-box a { 
		padding: 3%;
		font-size: small; 
	}
	#a-propos .open p {
		padding: 7% 5% 10%;
		width: 90%;
		font-size: 0.7em;
	}
  .dropdown-box a { font-size: small; }
	.dropdown-box.open { margin-bottom: 25px; }
	.error-msg div {
		margin: 50% auto 40%;
		width: 80%;
	}
	.error-msg div:last-child a {
		font-size: small;
		font-weight: 500;
	}
	.error-msg p {
		font-weight: 500;
    line-height: 1.5;
	}
	.error-msg div p:last-child { font-size: large; }
	#page-not-found { font-size: 5em; }
	header {
		margin: 5% auto;
		align-items: center;
	}
	header img {
		width: 40%;
	}
	header nav a {
		font-size: small;
		text-transform: uppercase;
	}
	#location { 
    font-size: small;
    margin: 3% 0; 
  }
  #logement-pictures { border-radius: 10px; }
	#logement-pictures img { height: 255px; }
	.slider #next, .slider #previous {
		width: 13px;
		height: 20px;
		background-size: contain;
		background-repeat: no-repeat;
	}
	#rating .star {
		width: 16px;
		height: 16px;
		margin-right: 3px;
	}
	#rentalList a {
		margin: 0% 0% 5%;
		height: 285px;
	}
	#top-infos div:nth-of-type(2) {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		align-items: center;
    margin: 2% auto;
	}
  #top-infos h1 {
    margin: 5% 0 0;
    font-size: large;
  }
	#top-infos #host img { width: 20%; }
	#top-infos #host p { max-width: 85px; }
	#top-infos li {
		margin: 0 5% 1% 0;
		border-radius: 5px;
    font-size: xx-small;
    padding: 1% 5%;
	}
 }

@media screen and (min-width:900px) {
	#a-propos div { width: 80%; }
	#a-propos .dropdown-box a {
		padding: 1% 2%;
		font-size: x-large;
	}
	#a-propos .open p {
		padding: 3% 2%;
		width: 96%;
		font-size: large;
	}
	#details {
		display: flex;
		justify-content: space-between;
	}
	#details div { width: 40%; }
  .dropdown-box a { font-size: medium; }
	.error-msg div {
		margin: 6% auto 10%;
	}
	.error-msg p {
		font-weight: 500;
	}
	.error-msg div p:last-child {
		font-size: x-large;
	}
	#page-not-found {
		font-size: 10em;
		margin: 2% auto;
		font-weight: 700;
	}
	footer, header {
		height: 10%;
	}
	header {
		margin: 2% auto;
		align-items: baseline;
		max-width: 1250px;
	}
	header nav a {
		font-size: x-large;
	}
	#location { margin: 1% 0 3%; }
  #logement-pictures { border-radius: 20px; }
	#logement-pictures img { height: 415px; }
	main { 
		height: 74%;
		max-width: 1250px; 
	}
	.slider #next, .slider #previous {
		width: 48px;
		height: 80px;
	}
	#rating .star {
		width: 25px;
		height: 25px;
		margin-right: 5px;
	}
	#rentalList {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		background-color: var(--background-color);
		border-radius: 25px;
		padding: 2%;
	}
	#rentalList a {
		width: 27%;
		margin: 3% 3% 2%;
		height: 340px;
	}
	#top-infos, #details { display: flex; }
	#top-infos div:first-of-type { width: 80%; }
	#top-infos div:last-of-type { width: 20%; }
  #top-infos h1 {
    font-size: xx-large;
    margin: 2% 0 0;
  }
	#top-infos #host {
		width: 100%;
		margin: 10% 0 0px;
	}
	#top-infos #host img { width: 25%; }
	#top-infos #host p { max-width: 105px; }
  #top-infos li {
    margin: 0 1% 0 0;
		border-radius: 30px;
    font-size: x-small;
    padding: 0.5% 5%;
  }
}


/**
 * Keyframes
 */

 @keyframes loading {
	from{ transform: rotate(0deg)}
	to { transform: rotate(360deg)}
}